.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}

.title {
    font-size: 21px;
    color: #0cbccc;
    font-weight: bold;
}